<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--用户表的SQL操作-->
<mapper namespace="com.kclm.owep.mapper.OrgInstituteMapper">

    <!--实体属性对应相应的表字段-->
    <resultMap id="BaseResultMap" type="com.kclm.owep.entity.OrgInstitute">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="institute_name" jdbcType="VARCHAR" property="instituteName"/>
        <result column="institute_type" jdbcType="INTEGER" property="instituteType"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_access_time" jdbcType="TIMESTAMP" property="lastAccessTime"/>
    </resultMap>
    <!--封装表字段名，方便后续简写使用-->
    <sql id="Base_Column_List">
        id,
        institute_name,
        institute_type,
        is_delete,
        last_access_time,
        create_time,
        version
    </sql>

    <insert id="save">
        insert into t_org_institute
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="instituteName!=null and instituteName !=''">
                institute_name,
            </if>
            <if test="instituteType!=null">
                institute_type,
            </if>
            <if test="isDelete !=null">
                is_delete,
            </if>
            <if test="version!=null">
                version,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="lastAccessTime !=null">
                last_access_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="instituteName!=null and instituteName !=''">
                #{instituteName,jdbcType=VARCHAR},
            </if>
            <if test="instituteType!=null">
                #{instituteType,jdbcType=INTEGER},
            </if>
            <if test="isDelete !=null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="version!=null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="createTime!=null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastAccessTime !=null ">
                #{lastAccessTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.kclm.owep.entity.OrgInstitute">
        update t_system_config
        <set>
            <if test="instituteName!=null and instituteName !=''">
                institute_name=#{instituteName},
            </if>
            <if test="instituteType!=null">
                institute_type=#{instituteType},
            </if>
            <if test="isDelete !=null">
                is_delete=#{isDelete},
            </if>
            <if test="version!=null">
                version=#{version},
            </if>
            <if test="createTime!=null">
                create_time=#{createTime},
            </if>
            <if test="lastAccessTime !=null and lastAccessTime!='' ">
                last_access_time=#{lastAccessTime},
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>

    <update id="deleteSelect" parameterType="java.lang.Integer">
        update t_org_institute set is_delete = 0
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>