<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--用户表的SQL操作-->
<mapper namespace="com.kclm.owep.mapper.SystemConfigMapper">

    <!--实体属性对应相应的表字段-->
    <resultMap id="BaseResultMap" type="com.kclm.owep.entity.SystemConfig">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="system_name" jdbcType="VARCHAR" property="systemName"/>
        <result column="copy_name" jdbcType="VARCHAR" property="copyName"/>
        <result column="login_page_logo" jdbcType="VARCHAR" property="loginPageLogo"/>
        <result column="system_page_logo" jdbcType="VARCHAR" property="systemPageLogo"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="last_access_time" jdbcType="DATE" property="lastAccessTime"/>
        <result column="login_count" jdbcType="DATE" property="loginCount"/>
    </resultMap>
    <!--封装表字段名，方便后续简写使用-->
    <sql id="Base_Column_List">
        id,
        system_name,
        copy_name,
        login_page_logo,
        system_page_logo,
        create_time ,
        version,
        last_access_time,
        login_count
    </sql>

    <insert id="save">
        insert into t_system_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemName!=null and systemName !=''">
                system_name,
            </if>
            <if test="copyName!=null and copyName !=''">
                copy_name,
            </if>
            <if test="loginPageLogo !=null and loginPageLogo !=''">
                login_page_logo,
            </if>
            <if test="systemPageLogo!=null and systemPageLogo !=''">
                system_page_logo,
            </if>
            <if test="version!=null">
                version,
            </if>
            <if test="createTime !=null">
                create_time,
            </if>
            <if test="lastAccessTime!=null">
                last_access_time,
            </if>
            <if test="loginCount !=null">
                login_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemName!=null and systemName !=''">
                system_name =#{system_name},
            </if>
            <if test="copyName!=null and copyName !=''">
                copy_name=#{copy_name},
            </if>
            <if test="loginPageLogo !=null and loginPageLogo !=''">
                login_page_logo=#{login_page_logo},
            </if>
            <if test="systemPageLogo!=null and systemPageLogo !=''">
                system_page_logo=#{system_page_logo},
            </if>
            <if test="version!=null">
                version=#{version},
            </if>
            <if test="createTime !=null">
                create_time=#{create_time},
            </if>
            <if test="lastAccessTime!=null">
                last_access_time=#{last_access_time},
            </if>
            <if test="loginCount !=null">
                login_count=#{login_count},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.kclm.owep.entity.SystemConfig">
        update t_system_config
        <set>
            <if test="systemName!=null and systemName !=''">
                system_name =#{system_name},
            </if>
            <if test="copyName!=null and copyName !=''">
                copy_name=#{copy_name},
            </if>
            <if test="loginPageLogo !=null and loginPageLogo !=''">
                login_page_logo=#{login_page_logo},
            </if>
            <if test="systemPageLogo!=null and systemPageLogo !=''">
                system_page_logo=#{system_page_logo},
            </if>
            <if test="version!=null">
                version=#{version},
            </if>
            <if test="createTime !=null">
                create_time=#{create_time},
            </if>
            <if test="lastAccessTime!=null">
                last_access_time=#{last_access_time},
            </if>
            <if test="loginCount !=null">
                login_count=#{login_count},
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>

</mapper>